
footer.footer
  .footer__wrapper
    .footer__copyright
      p='© 2021 All rights reserved'
      p='Website by JScapucin'
      //- p=footer.data.copyright
    .footer__socials
      .footer__socials__title='Socials:'
      ul.footer__socials__menu
        li='Facebook'
        li='Instagram'
        li='Linkedin'