extends ../base.pug

block variables
  - var template = 'project'

include ../svg-icons/svg-icons

block content
  include ../partials/page-transition
  include ../partials/toggle-navigation
  .project.project__wrapper
    include ../partials/navigation
    .project__container
      .project__title__container
        a.project__back(href='/latest') 
          .arrow__left
            +svg-icon(svg-icon-name='arrow-right')
          .back__link__container='Back'
        .project__title(data-animation='reveal-bottom') 
          h1=projectLatest.data.project_title
      .project__main__img__container 
        img.project__img(src=projectLatest.data.project_main_image.url)
      .project__text__container 
        .project__text__1
          p!=PrismicDOM.RichText.asHtml(projectLatest.data.project_text_1)
          .project__btn__wrapper(data-animation='reveal-bottom')
            a.btn.external__link(href=projectLatest.data.project_url target='_blank')='Visit Website'
              .arrow__right
                +svg-icon(svg-icon-name='arrow-right')
        .project__text__2
          p.project__text__2!=PrismicDOM.RichText.asHtml(projectLatest.data.project_text_2)
      .project__images__container
        each section, index in projectLatest.data.body
          if section.slice_type == 'one_column'
            .project__images
              .project__img__1column
                img(src=section.primary.image.url)
          if section.slice_type == 'two_columns'
            .project__images
              each media, mediaIndex in section.items 
                img.project__img__2columns(src=media.image.url)
          if section.slice_type == 'three_columns'
            .project__images 
              each media, mediaIndex in section.items 
                img.project__img__3columns(src=media.image.url)
      .project__list__wrapper
        ul
          each item, index in latestWork.data.projects_list 
            li.project__list__item__wrapper
              .project__list__item
                .project__list__item__link__wrapper
                  a.project__list__item__link(href=`latest/${item.project_uid}` data-animation='reveal-bottom')=item.project_name
    .project__bottom__space
    
    






    